html {
  background-color: pink;
}
body {
  border: 1px solid;
  height: 500px;
}

#info {
  border: 1px solid;
  text-align: center;
}

#bookmarkSection {
  /* text-align: center; */
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

#addBtn {
  min-width: 130px;
  height: 30px;
  color: #ffffff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #f7abec;
  box-shadow: 2px 2px 4px #c06098, -1px -1px 3px #fff;
  color: #8b02b4;
}
#addBtn:active {
  box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
}

#link-input {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 10px 10px 20px #c5c5c5, -10px -10px 20px #ffffff;
  transition: 0.3s;
}

#link-input:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 10px 10px 20px #c5c5c5, inset -10px -10px 20px #ffffff;
  transition: 0.3s;
}

#name-input {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 10px 10px 20px #c5c5c5, -10px -10px 20px #ffffff;
  transition: 0.3s;
}

#name-input:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}
